/* Sidebar.css */
.inventory-management {
    display: flex;
    min-height: 100vh;
    position: relative;
}

/* Sidebar styles */
.sidebarn {
    width: 250px;
    background-color: #3b3b98;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

/* Sidebar hidden on small screens by default */
.sidebarn.open {
    transform: translateX(0);
}

.sidebarn h3 {
    font-weight: 800;
    margin-bottom: 20px;
}

.sidebarn ul {
    list-style: none;
    padding: 0;
}

.sidebarn ul li {
    margin: 15px 0;
}

.sidebarn ul li button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.sidebarn ul li button:hover,
.active-link {
    color: #ff6347; /* Highlight active or hovered link */
}

/* Content section */
.content {
    flex-grow: 1;
    padding: 20px;
}

/* Menu button for small screens */
.menu-button {
    display: none;
    background: #3b3b98;
    color: white;
    border: none;
    /* padding: 10px; */
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
   
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebarn {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        transform: translateX(-100%);
        z-index: 999; /* Ensure it's above other elements */
    }

    .menu-button {
        display: block;
    }

    .content {
        padding: 60px 20px;
    }
}
