.inventory-detail{
    display: flex;
    
}
.inventory-header img{
    width: 30%;
    object-fit: cover;
    
}

.inventory-detail-container {
    
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    flex: 6;
    
  }
  
  .inventory-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 4rem;
    padding: 4rem;
    flex-direction: row-reverse;
  }
  .inventory-info p{
    text-align: left;
  }

  
  .inventory-info h1 {
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
  }
  
  .inventory-info p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .section {
    margin-top: 20px;
    
    
  }
  
  .section h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: left;
    padding-bottom: 5px;
  }
  
  .section li {
    list-style-type:circle;
    text-align: left;
    
  }
  
  .section ul li {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  .sahasfgihiaugfya{
    display: flex;
  }
  @media(max-width:768px){
    .inventory-header{
        flex-direction: column;
        gap: 2rem;
        padding: 0;
        margin-left: 2rem;
        
  
  }
  .inventory-info{
    width: 80%;
  }
  .inventory-header img{
    width: 93%;
    align-items: center;
  }
  .section{
    
    padding: 0rem;
    

  }
  .sahasfgihiaugfya{
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .section ul li{
    margin-left: 1.5rem;
  }
}
@media (max-width:468px){
    .section{
        display: flex;
        flex-direction: column;
        
        margin-left: 0rem;
        padding: 0rem;
        width: 100%;
    }
    .inventory-info h1{
        font-size: 1rem;
    }
    .inventory-info p{
        font-size: 0.8rem;
    }
    .section ul li{
        font-size: 0.8rem;
        margin-left: 1rem;
    }
    .section h2{
        font-size: 0.8rem;
        font-weight: 800;
    }
    .inventory-info{
      width: 90%;
    }
    .inventory-detail-container{
      padding: 0rem;
    }
}

@media (max-width: 768px) {
  button {
      display: block; 
  }
}
